@import 'variables';

a {
    text-decoration: none;
}

ul .active {
    border-bottom: solid 2px $dark-gray;
}
html{
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font-size: 2rem;
    cursor: pointer;
    
}

.open-menu{
    cursor: pointer;
}

.open-menu.active {
    display: none;
}

.main-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1rem;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    position: absolute;
    background-color: white;
    box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: .5);
    border-radius: 24px;
    height: 280px;
    width: 200px;
    top: 100px;
    right: -200px;
    transition: 1s;
    z-index: 20;
    li {
        transition: all .2s ease-out;
        // margin-bottom: 30px;
    }
    li:hover {
        transform: scale(1.1);
    }
}

.main-nav.active {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1rem;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    position: absolute;
    background-color: white;
    border-radius: 24px;
    height: 280px;
    width: 200px;
    top: 100px;
    right: -10px;
    z-index: 20;
    li {
        transition: all .2s ease-out;
        // margin-bottom: 30px;
    }
    li:hover {
        transform: scale(1.1);
    }
}
.close-menu {
    display: none;
}
.close-menu.active {
    cursor: pointer;
    transform: scale(.5);
    display: inline;
}


@media screen and (min-width: 700px){
    .open-menu {
        display: none;
    }
    .main-nav {
    position: static;
    flex-direction: row;
    background-color: transparent;
    height: auto;
    width: auto;
    box-shadow: none;
    list-style: none;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    
    li {
        transition: all .2s ease-out;
    }
    li:hover {
        transform: scale(1.1);
    }
}
    li {
        margin-right: 45px;
    } 
}




